body{
    color: #ffffff;
    font-family: monospace;
    max-width: 650px;
    margin:0 auto;
    padding: 0 16px;
    background-image: url('https://images.sharefaith.com/images/3/1488235211978_48/img_mouseover3.jpg');

    /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.main-content{
    flex-grow: 1;
}

footer{
    color: rgb(255, 255, 255);
    border-top: 1px solid #000000;
    margin-top: 16px;
    padding: 16px 0px;
}


h1{
    font-size: 64px;
    margin-bottom: 16px;
}

 header a{
     color: rgba(255, 255, 255, 0.836);
     margin-right: 16px;
     text-decoration: none;
}

.potrait{
    width: 200px;
    border-radius: 15%;
    border-color: rgb(255, 249, 249);
    margin-top: 20px;
    }

#two{
 margin-top: 20px;
}  

p{
    margin-top: 20px;
}

input{
    border: 1px solid #fdbdbd;
    padding: 8px;
}

button{
    cursor: pointer;
    border: #888888;
    color: rgb(228, 152, 152);
    padding: 8px;
}